/*font*/

  @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;700&family=Inter+Tight:wght@400;600;700&family=Poppins:wght@300;400;500;600&family=Roboto+Slab:wght@100;400;600;700&display=swap');



/*smooth scrolling*/
@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }

  
/*Body*/
  body{
    background-color:rgb(209, 209, 209);
    margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  }


.dez {
  height: 70rem;
  width: 60rem;
  margin: 0 auto;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(128, 128, 128));

  border-radius: 1.2rem;
  box-shadow: 1rem 1rem 1rem rgb(255, 255, 255);
  padding: 2rem;
}

/*Header*/
#header{
  text-align: center;
  justify-content: center;
}



/*Nav-bar*/
#nav-bar {
  position: fixed;

  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  background: linear-gradient(to right, rgb(128, 128, 128), rgb(255, 255, 255));

  width: 60rem;
  height: 5rem;
  overflow: hidden;
  border-radius: 1.8rem;
  overflow: hidden;
  
 
  
}


/*Toggle-button*/
.toggle-button{
  position: absolute;
  top: 2rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 31px;
  height: 21px;
  border-radius: 10px;
  z-index: 1001;
}

.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: #000000;
  border-radius: 10px;
}


a{
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  transition: transform 0.3s; /* Add a transition for smooth animation */

  /* Initial state (no hover) */
  transform: scale(1);
 
}

a:hover{
  background-color: white;
  border-radius: 0.6rem;
  transform: scale(1.1);
}



/*vid-section*/

#vid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35rem; 
  margin-top: 5rem;
}
#video {
  max-width: 100%; /* Make sure the video doesn't exceed the viewport width */
  border-radius: 1.7rem;
  overflow: hidden;
}


/*Category*/

.box-container {

  display: flex;
  flex-direction: row; 
  justify-content: space-between;

margin-top: 1rem;
}

.box{
  background-color: linear-gradient(to right, rgb(255, 255, 255), rgb(128, 128, 128));
  border: solid 0.5px aquamarine;
  flex: 1; /*  make the boxes the same size */
  transition: 1s;
  margin: 0 2rem;
  padding: 2em;
  max-width: 30%; /*  Limit the maximum width of each box */
  border-radius: 1rem;
  height: 10rem;
}

.box:hover {
  transform: scale(0.9);
  background-color: rgb(255, 255, 255);
}

/*Footer*/
#form{
  background: linear-gradient(rgb(255, 255, 255), rgb(128, 128, 128));

  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 5rem;
  border-radius: 1rem;
 
}

p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: bold;
}
#email{
  height: 1rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 2rem;
}

#submit{
  height: 1.5rem;
  margin: 1rem 2rem;
}


.social-icons {
  list-style: none;
  padding: 0;
  display: flex;
}

.social-icons li {
  margin: 0 10px;
}

.social-icons a {
  text-decoration: none;
  color: #333; }

h3{
  display: flex;
  justify-content: center;
  margin-top: -1rem;
}


/*Media-queries*/

@media (max-width: 600px) {
  .dez {
    width: 90%; 
    height: auto; /* Allow the height to adjust based on content */
    padding: 1rem; 
   
  }

  #nav-bar {
    width: 90%; 
    justify-content: space-between;
    position: fixed;
    top: 0;
   
  }

  .toggle-button {
    display: flex; /* Show the toggle button on smaller screens */
  }

  .nav-link {
    display: none; /* This hides the navigation links  */
    flex-direction: column; 
    width: 100%;
  }

  .nav-link.active {
    display: flex; /* Show the navigation links when the active class is present */
  }

  #header-img{
    display: flex;
    align-items: flex-start;
  }

  .box-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }

  .box{
    margin-top: 1rem;
  }

  #form{
    height: auto;
    display: flex;
    flex-direction: column;
  }

}